#
# Network UPS Tools - upssched.conf file
#

# The command script to run
CMDSCRIPT /usr/local/bin/ups-scheduled-tasks

# Command pipe and lock-file
PIPEFN /run/nut/upssched.pipe
LOCKFN /run/nut/upssched.lock
