---
services:
  unpoller:
    image: ghcr.io/unpoller/unpoller:{{ unifi_unpoller_version }}
    restart: unless-stopped
    ports:
      - '9130:9130'
    container_name: unpoller
    environment:
      - UP_INFLUXDB_DISABLE=true
      - UP_POLLER_DEBUG=false
      - UP_UNIFI_DYNAMIC=false
      - UP_PROMETHEUS_HTTP_LISTEN=0.0.0.0:9130
      - UP_PROMETHEUS_NAMESPACE=unpoller
      - UP_UNIFI_CONTROLLER_0_SAVE_ALARMS=true
      - UP_UNIFI_CONTROLLER_0_SAVE_ANOMALIES=true
      - UP_UNIFI_CONTROLLER_0_SAVE_DPI=true
      - UP_UNIFI_CONTROLLER_0_SAVE_EVENTS=true
      - UP_UNIFI_CONTROLLER_0_SAVE_IDS=true
      - UP_UNIFI_CONTROLLER_0_SAVE_SITES=true
      - UP_UNIFI_CONTROLLER_0_URL={{ unifi_controller_url }}
      - UP_UNIFI_CONTROLLER_0_USER={{ unifi_user }}
      - UP_UNIFI_CONTROLLER_0_PASS={{ unifi_password }}
